<%- include('../partials/header.ejs') %>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <nav class="navbar navbar-vertical navbar-expand-lg">
        <script>
          var navbarStyle = window.config.config.phoenixNavbarStyle;
          if (navbarStyle && navbarStyle !== 'transparent') {
            document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
          }
        </script>
      <%- include('../partials/navbar.ejs') %>
      
    <div class="content">
        <nav class="mb-2" aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#!">Alunos</a></li>
            <li class="breadcrumb-item active">Lista de Alunos</li>
          </ol>
        </nav>
        <div class="pb-6">
          <h2 class="mb-4"><%- Usuarios.length%> Alunos Cadastrados</h2>
          <div id="lealsTable" data-list='{"valueNames":["Aluno","email","phone","contact","company","date"],"page":10,"pagination":true}'>
            <div class="row g-3 justify-content-between mb-4">
              <div class="col-auto">
                <div class="d-md-flex justify-content-between">
                  <div>
                    <a href="/Alunos/Novo" ><button class="btn btn-primary me-4"  ><span class="fas fa-plus me-2"></span>Novo Aluno</button></a>
                    <button class="btn btn-link text-body px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Exportar</button>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <div class="d-flex">
                  <div class="search-box me-2">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                      <input class="form-control search-input search" type="search" placeholder="Pesquisar por nome" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>

                    </form>
                  </div>
                  <div class="flatpickr-input-container me-2">
                    <!--Alexandre informar lista-->
                   <!-- <input class="form-control ps-6 datetimepicker" id="datepicker" type="text" data-options='{"dateFormat":"d/m/Y","disableMobile":true,"defaultDate":"today"}' /><span class="uil uil-calendar-alt flatpickr-icon text-body-tertiary"></span>
                   --> </div>
                  <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
                  <div class="modal fade" id="filterModal" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content border border-translucent">
                        <form id="addEventForm" autocomplete="off">
                          <div class="modal-header border-translucent p-4">
                            <h5 class="modal-title text-body-highlight fs-6 lh-sm">Filtro</h5>
                            <button class="btn p-1 text-body" type="button" data-bs-dismiss="modal" aria-label="Close"><span class="fas fa-times fs-9"></span></button>
                          </div>
                          <div class="modal-body pt-4 pb-2 px-4">
                            <div class="mb-3">
                              <label class="fw-bold mb-2 text-body-highlight" for="leadStatus">Situação</label>
                              <select class="form-select" id="leadStatus">
                                <option value="select">selecionar</option>
                                <option value="Ativo">Ativo</option>
                                <option value="Bloqueado">Bloqueado</option>
                              </select>
                            </div>
                            <div class="mb-3">
                              <label class="fw-bold mb-2 text-body-highlight" for="createDate">Data de Criaçao</label>
                              <select class="form-select" id="createDate">
                                <option value="Hoje" selected="selected">Hoje</option>
                                <option value="last7Days">Ultimos 7 dias</option>
                                <option value="last30Days">Ultimos 30 dias </option>
                                <option value="chooseATimePeriod">Selecione um periodo</option>
                              </select>
                            </div>
                            
                          </div>
                          <div class="modal-footer d-flex justify-content-end align-items-center px-4 pb-4 border-0 pt-3">
                            <button class="btn btn-sm btn-phoenix-primary px-4 fs-10 my-0" type="submit"> <span class="fas fa-arrows-rotate me-2 fs-10"></span>apagar</button>
                            <button class="btn btn-sm btn-primary px-9 fs-10 my-0" type="submit">Filtrar</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <table class="table fs-9 mb-0 leads-table">
              <thead>
                <th class="white-space-nowrap fs-9 align-middle ps-0" style="max-width:20px; width:18px;">
                  <div class="form-check mb-0 fs-8">
                    <input class="form-check-input" type="checkbox" data-bulk-select='{"body":"leal-tables-body"}' />
                  </div>
                </th>
              </th>
              <th class="sort white-space-nowrap align-middle text-uppercase ps-0" scope="col" data-sort="Aluno" style="width:25%;">Aluno</th>
              <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="email" style="width:15%;">
                <div class="d-inline-flex flex-center">
                  <div class="d-flex align-items-center px-1 py-1 bg-success-subtle rounded me-2"><span class="text-success-dark" data-feather="mail"></span></div><span>Email</span>
                </div>
              </th>
              <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="phone" style="width:15%; min-width: 180px;">
                <div class="d-inline-flex flex-center">
                  <div class="d-flex align-items-center px-1 py-1 bg-primary-subtle rounded me-2"><span class="text-primary-dark" data-feather="phone"></span></div><span>Telefone</span>
                </div>
              </th>
              <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="contact" style="width:15%;">
                <div class="d-inline-flex flex-center">
                  <div class="d-flex align-items-center px-1 py-1 bg-info-subtle rounded me-2"><span class="text-info-dark" data-feather="grid"></span></div><span>Data de Cadastro</span>
                </div>
              </th>
              <th class="sort align-middle ps-4 pe-5 text-uppercase border-end border-translucent" scope="col" data-sort="company" style="width:15%;">
                <div class="d-inline-flex flex-center">
                  <div class="d-flex align-items-center px-1 py-1 bg-warning-subtle rounded me-2"><span class="text-warning-dark" data-feather="grid"></span></div><span>Situação</span>
                </div>
              </th>
              <th class="sort align-middle ps-4 pe-5 text-uppercase" scope="col" data-sort="date" style="width:15%;">Mensalidade</th>
              <th class="sort text-end align-middle pe-0 ps-4" scope="col"></th>
            </tr>
              </thead>
          <tbody class="list" id="leal-tables-body">
           
            <% for(var i=0; i<Usuarios.length; i++) {%>
             <% if(Usuarios.UserType ='A'){%>
              
             
            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
              <td class="fs-9 align-middle">
                <div class="form-check mb-0 fs-8">
                 
                  <input class="form-check-input" type="checkbox" data-bulk-select-row= <%Usuarios[i]%>/>
                </div>
              </td>
              <td class="name align-middle white-space-nowrap ps-0">
                <div class="d-flex align-items-center"><a href="#!">
                    <div class="avatar avatar-xl me-3"><img class="rounded-circle" src=<%= Usuarios[i].ProfileImage %> alt="" />
                    </div>
                  </a>
                  <div><a class="fs-8 fw-bold" href="#!"><%= Usuarios[i].USERNAME %></a>
                    <div class="d-flex align-items-center">
                      <p class="mb-0 text-body-highlight fw-semibold fs-9 me-2">
                        <% if (Usuarios[i].UserType =="A"){%>
                          Aluno
                        <%}else{%>
                          Administrador
                        <%}%>
                      </p><span class="badge badge-phoenix badge-phoenix-primary">Portal</span>
                    </div>
                  </div>
                </div>
              </td>
              <td class="email align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="mailto:anth125@gmail.com"><%= Usuarios[i].EMAIL %></a></td>
              <td class="phone align-middle white-space-nowrap fw-semibold ps-4 border-end border-translucent"><a class="text-body-highlight" href="tel:+1-202-555-0126">
                  <a><%=Usuarios[i].Phone1%></a>
                 </td>
               
              <td class="date align-middle white-space-nowrap text-body-tertiary text-opacity-95 ps-4 text-body-tertiary border-end border-translucent fw-semibold"><%=  moment(Usuarios[i].CreateDate).format('DD/MM/YYYY') %></td>
              <td class=" align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary border-end border-translucent fw-semibold ">
                <% if (Usuarios[i].Blocked =="N"){%>
                <span class="badge badge-phoenix badge-phoenix-success">Ativo</span>
              <%}else{%>
                <span class="badge badge-phoenix badge-phoenix-danger">Bloqueado</span>
              <%}%></td>
              <td class="align-middle white-space-nowrap text-body-tertiary text-opacity-85 ps-4 text-body-tertiary">
                <span class="badge badge-phoenix badge-phoenix-success">Em dia</span>
              </td>
              <td class="align-middle white-space-nowrap text-end pe-0 ps-4">
                <div class="btn-reveal-trigger position-static">
                  <form action="/Alunos" method="POST">
                  <button class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span></button>
                  <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Visualizar</a>
                                       <button class="dropdown-item" type="submit" name="Userselect" value="<%= Usuarios[i].USERID %>">
                      <% if (Usuarios[i].Blocked =="Y"){%>
                        <input class="invisible" id="block" type="text"name="block"  value="Y" onClick="window.location.reload()" /><p>Ativar</p>
                  <%}else{%>
                    <input class="invisible" id="block" type="text"name="block"  value="N" onClick="window.location.reload()"/><P>Bloquear</P>
                  <%}%>
                                       </button>
                  
                    <div class="dropdown-divider"></div><a class="dropdown-item text-danger" href="#!">Remover</a>
                  </form>
                  </div>
                </div>
              </td>  
            </tr>
            <%}%>   
            <%}%>   
                         
          </tbody>    
            </table>
            <div class="row align-items-center justify-content-end py-4 pe-0 fs-9">
              <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semibold text-body" ></p><a class="fw-semibold" href="#!" data-list-view="*">Ver todos<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semibold d-none" href="#!" data-list-view="less">Visualizar padrão<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
              </div>
              <div class="col-auto d-flex">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
              </div>
            </div>
          </div>
        </div>
        <%- include('../partials/footer.ejs') %>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.setAttribute('data-navbar-appearance', 'darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.setAttribute('data-navbar-appearance', 'darker');
        }
      </script>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
    <script src="../../vendors/feather-icons/feather.min.js"></script>
    <script src="../../vendors/dayjs/dayjs.min.js"></script>
    <script src="../../vendors/choices/choices.min.js"></script>
    <script src="../../assets/js/phoenix.js"></script>

  </body>

</html>